nav {
    display: flex;
    align-items: center;
    background-color: white;
    height: 30px;
    padding: 30px 25px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
}

.nav--title{
    font-family: 'Dela Gothic One', cursive;
    font-weight: 300;
    margin-right: auto;
    word-spacing:  7px;
}

.nav--link{
    font-family: 'Dela Gothic One', cursive;
    text-decoration: none;
    padding: 10px 10px;
    border: solid none;
    color:black;
}

.nav--link:hover{
    color: black;
    background-color: whitesmoke;
}